


.navbar {
    background: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 1rem;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: #009970;
}

.login-button {
    background-color: #009070;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.5s background-color;
}

.login-button:hover {
    background-color: #00b393;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

.nav-link:hover::before, .nav-link.nav-link.active::before {
    width: 100%;
    visibility: visible;
}

.hero-section {
    background: url(images/hero-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section .midle-title, .midle-paragraph, .midle-btn {
    color: #fff;
}

.hero-section .midle-paragraph {
    font-size: 1.2rem;
    margin-top: 20px;
}

.hero-section .midle-btn {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
    background: #009070;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.4s all;
}

.hero-section .midle-btn:hover {
    background-color: #00b393;
}